<!-- Combined code for session/login and landing page. -->

<div class="container-fluid mainbackground">
  <div class = "row" id="home">
      <div class = "col-md-7 title">
        <h1>Smilestones</h1>
        <div class="subtitle">
          <strong>Bring your memories<br/> to life!</strong>
        </div>
      </div>   
      <br />
    <div class = "col md-5 mainlogin">
      <div class = "well well-md">
        <%= form_for :session, :url=> sessions_path do |f| %>
          <%= f.text_field :email, placeholder: "Email" %>
          <br/>
          <br/>
          <%= f.password_field :password, placeholder: "Password" %>
          <br/>
          <br/>
          <%= f.submit 'Login', class: "btn btn-primary" %>
          <br/>
          </br/>
          <strong>New to Smilestones?<br/><%= link_to "Sign up here...", new_user_path %></strong>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <div id="features" class="clearfix">
    <div class="row">
      <div class="col-md-4">
        <div class="text-left" class="step1"></div>
            <h2 class="glyphicon glyphicon-plus"></h2>
            <h3>Add milestones</h3>
      </div>
      <div class="col-md-4">
        <div class="text-center" class="step2"></div>
            <h2 class="glyphicon glyphicon-barcode"></h2>
            <h3>Choose a style and code</h3>
      </div>
      <div class="col-md-4">
        <div class="text-right" class="step3"></div>
            <h2 class="glyphicon glyphicon-picture"></h2>
            <h3>Print & share!</h3>
      </div>
    </div>
 </div>

  <div class= "row" id="about">
    <h2>About</h2>
    <br />
    <p>
    Smilestones was created by a mom who stored a ridiculous number of pictures and videos of her kids on her hard-drive. She realized that there might be a better way to remember important milestones. Printing plain photos was unimaginative, online sharing felt impersonal and scrapbooks were too time consuming.
    <br />
    <br />
    Maybe printed cards, pictures and announcements could be more engaging if they were interactive? Smilestones was born to bridge the gap between photos and videos...to help memories last by bringing them to life!
  </p>
  </div>
