<!-- partial used by edit & new views in children folder -->

<div class="partial_form">

  <%= form_for @child do |c| %>
    <%= c.hidden_field :user_id, :value => current_user.id %>
    <%= c.text_field :name, placeholder: "Name", class: 'form-control' %>
    <%= c.date_field :birth_date, placeholder: "Birthdate", class: 'form-control' %>
    <br />
    <%= c.submit "Update!", class: "btn btn-primary pull-right" %>

  <% end %>

</div>
