<h2>My Children</h2>
<br />
<div "class=table-responsive">
  <table class="table table-condensed">
    <tr>
      <% @children.each do |c| %>
        <td><h4><%= c.name %></h4></td>
        <td><%= link_to "See Child Info", child_path(c) %></td>
        <td><%= link_to 'Edit', edit_child_path(c) %></td>
        <td><%= link_to 'Delete', child_path(c), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      <br />
    </tr>
  </table>
</div>

<a class="btn btn-default" <%= link_to 'Add a new child', new_child_path %></a>
<br />
<br />
<hr>
<a class="btn btn-primary" <%= link_to 'Create a SMILESTONE' %></a>
