
<h1>My Children</h1>

<div>
  <ul>
    <% @children.each do |c| %>
    <li><%= c.name %></li><%= link_to "See Child Info", child_path(c) %>
    <% end %>
  </ul>

<div class="new-child-form">

  <%= form_for :child do |c| %>
    <%= c.hidden_field :user_id, :value => current_user.id %>
    <%= c.text_field :name, placeholder: "Name", class: 'form-control' %>
    <%= c.text_field :birth_date, placeholder: "Birthdate", class: 'form-control' %>
    <br />
    <%= c.submit "Add a child!", class: "btn" %>

  <% end %>

</div>
