<div class="container-fluid">
  <h2><%= @child.name %>'s Milestones</h2>

  <h3>Birthday: <%= @child.birth_date.strftime("%m/%d/%Y") %></h3>
  <br />
  <a class="btn btn-primary" <%= link_to 'Add a new milestone', new_child_milestone_path(@child) %></a>
  <br />
  <div "class=table-responsive">
    <table class="table table-condensed">
      <% @milestones.each do |m| %>
        <tr>
          <td><%= m.name %></td>
          <td class="image"><%= image_tag(m.picture.url) %></td>

  <!-- Placeholder for editing function      <td><= link_to 'Edit', edit_child_milestone_path(@child, m) %></td> -->

          <td><%= link_to 'Delete', child_milestone_path(@child, m), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <br />
      <% end %>
    </table>
  </div>
  <hr>

  <!-- Placeholder to Create a Smilestone link<a class="btn btn-primary pull right" <%#= link_to 'Create a SMILESTONE' %></a> -->

  <%= link_to 'Back', :children %>
</div>