<h1> views/child/show - Show individual child info including milestones</h1>

<div>
      <%= @child.name %>
      <%= @child.birth_date %>
</div>

<h1>Create milestone</h1>

  <%= form_for :milestone, url: child_milestones_path(@child) do |c| %>
    <%= c.hidden_field :user_id, :value => current_user.id %>
    <%= c.text_field :name, placeholder: "Name", class: 'form-control' %>
    <%= c.submit "Add a milestone!", class: "btn" %>

  <% end %>

 <!-- f.file_field :picture %> -->


<%= link_to 'Back', :children %>