<h1><%= @child.name %> Milestones</h1>

<h3>
  Birthday: <%= @child.birth_date %>
</h3>
<br>
<br />
<table>
  <% @milestones.each do |m| %>
    <tr>
      <td><%= m.name %></td>
      <td><%= image_tag m.picture.url %></td>
      <td><%= link_to 'Edit', edit_child_milestone_path(@child, m) %></td>
      <td><%= link_to 'Delete', child_milestone_path(@child, m), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<br />
<br />
<a class="btn btn-default" <%= link_to 'Add a new milestone', new_child_milestone_path(@child) %></a>
<br />
<br />
<%= link_to 'Back', :children %>