
<h1>New user sign-up</h1>

<%= form_for @user do |f| %>
  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  <%= f.submit %>
<% end %>

<%= link_to 'Back', user_path %>